.outBox {
    border: 1px solid black;
    margin: 24px;
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
}
.personImage {
    border-radius: 50%;
    height: 200px;
    margin-right: 48px;
    box-shadow: inset;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.header > label {
    font: 24px AssistantSemibold;
    margin-right: 12px;
}
.header > button {
    height: 36px;
    font: 24px AssistantSemiBold;
}
.header > select {
    height: 36px;
    font: 24px AssistantRegular;
    margin-right: 12px;
}